@*@inject NavigationManager _navigationManager
*@<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3">
            <h4>@Employee.FirstName @Employee.LastName</h4>
        </div>
        <div class="card-body employee-card text-center">
            <div class="mb-3">
                @*<img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{Employee.EmployeeId}.jpg")" class="employee-img rounded-circle" />*@
                <img src="@Employee.ImageName" class="employee-img rounded-circle" />
            </div>
            <button class="btn btn-primary btn-sm mb-1" @onclick="@(async () => await EmployeeQuickViewClicked.InvokeAsync(Employee))">Quick View</button>

            @*Href Navigation*@
            @*<a href="@($"EmployeeDetail/{Employee.EmployeeId}")" class="btn btn-outline-primary btn-sm mb-1">Full Details</a>*@

            @*Inject in Blazor Navigation*@
            @*<button class="btn btn-outline-primary btn-sm mb-1" @onclick="@(e => _navigationManager.NavigateTo($"EmployeeDetail/{Employee.EmployeeId}"))">Full Details</button>*@

            @*Code Behind Navigation*@
            <button class="btn btn-outline-primary btn-sm mb-1" @onclick="@(() => NavigateToDetails(Employee.EmployeeId))">Full Details</button>

            <button class="btn btn-outline-primary btn-sm mb-1" @onclick="@(() => NavigateToEdit(Employee.EmployeeId))">Edit Employee</button>
        </div>
    </div>
</div>